<h1>Products</h1>

<% @products.each do |product| %>
  <%= link_to product_path(product) do %>
    <%= image_tag product.image_url, class: "product-image" %>
    <div>
      <h5><%= product.title %></h5>
      <p><%= number_to_currency(product.price) %></p>
    </div>
  <% end %>
<% end %>